UVICORN_HOST="0.0.0.0"
UVICORN_PORT=8000

# DISABLED Unix Socket (we use TCP instead for better Docker compatibility)
# UVICORN_UDS = "/var/lib/marzban/marzban.sock"

# ALLOWED_ORIGINS=http://localhost,http://localhost:8000,http://example.com

## We highly recommend adding admin using `marzban cli` tool
# SUDO_USERNAME = "admin"
# SUDO_PASSWORD = "admin"

# DASHBOARD_PATH = "/dashboard/"

XRAY_JSON = "/var/lib/marzban/xray_config.json"

SQLALCHEMY_DATABASE_URL = "sqlite:////var/lib/marzban/db.sqlite3"

VITE_BASE_API="http://localhost:8000/api/"

# Other recommended settings (uncomment if needed)
# DEBUG=False
# DOCS=False